In [1]:
import pandas as pd
import numpy as np

In [2]:
# path to csv's files
path_to_history_prices = '..//csv_s//history_prices.csv'
path_to_investment_currencyhistory = '..//csv_s//investment_currencyhistory.csv'
path_to_securities = '..//csv_s//securities.csv'
path_to_сlients = '..//csv_s//history_prices.csv'

# read files
history_prices = pd.read_csv(path_to_history_prices)
investment_currencyhistory = pd.read_csv(path_to_investment_currencyhistory) 
securities = pd.read_csv(path_to_securities) 
сlients = pd.read_csv(path_to_сlients)

# drop column
history_prices = history_prices.drop(columns=['Unnamed: 0'])
investment_currencyhistory = investment_currencyhistory.drop(columns=['Unnamed: 0'])
securities = securities.drop(columns=['Unnamed: 0'])
securities['client_date'] = pd.to_datetime(securities['client_date'], format='%Y-%m-%d')

сlients = сlients.drop(columns=['Unnamed: 0'])

In [3]:
def informer(dataframe):
    
    print(f'INFORMATION FOR DATAFRAME:')
    print(dataframe.info())
    print('---------------')

    # Проверка на отсутствие каких-либо данных
    print('pd.ISNULL().SUM()')
    print(dataframe.isnull().sum())
    print('---------------')

    # Посчитаем количество уникальных гномов
    print(f'Количество уникальных значений для каждой колонки:\n'
          f'{dataframe.nunique()}')
    print('---------------')

In [4]:
# HISTORY_PRICES
informer(dataframe=history_prices)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [5]:
# INVESTMENT_CURRENCYHISTORY
informer(dataframe=investment_currencyhistory)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    53 non-null     int64
 1   currency       53 non-null     object
 2   direct_quote   53 non-null     float64
 3   reverse_quote  53 non-null     float64
 4   cross_course   53 non-null     float64
 5   quote_date     53 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
quote_date       0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      53
currency          3
direct_quote     53
reverse_quote    53
cross_course     53
quote_date       53
dtype: int64
---------------

In [6]:
# SECURITIES
informer(dataframe=securities)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   operation_id          156 non-null    int64
 1   client_id             156 non-null    int64
 2   client_date           156 non-null    datetime64[ns, pytz.FixedOffset(180)]
 3   client_isin_paper     156 non-null    object
 4   client_n_papers       156 non-null    int64
 5   client_currency       156 non-null    object
 6   client_rialto         156 non-null    object
 7   client_closing_price  156 non-null    int64
dtypes: datetime64[ns, pytz.FixedOffset(180)](1), int64(4), object(3)
memory usage: 9.9+ KB
None
---------------
pd.ISNULL().SUM()
operation_id            0
client_id               0
client_date             0
client_isin_paper       0
client_n_papers         0
client_currency         0
client_rialto           0
client_closing_price    0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
operation_id            156
client_id                10
client_date             156
client_isin_paper        13
client_n_papers         130
client_currency           4
client_rialto             6
client_closing_price    156
dtype: int64
---------------

In [7]:
# CLIENTS
informer(dataframe=сlients)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [8]:
currensy_history_for_mean = investment_currencyhistory.copy()

currensy_history_for_mean = currensy_history_for_mean.drop(columns=['currency_id'])
currensy_history_for_mean = currensy_history_for_mean.sort_values(by=['currency', 'quote_date'])

In [9]:
"""
    3. Рассчитать среднюю цену покупки для каждой бумаги.
        a. методом FIFO
        b. метод средневзвешенной стоимости
        
        
Для метода FIFO нам надо знать номер бумаги (ISIN), дату ее последней цены на рынке и количество.

Метод FIFO заключается в "first in first out"



Метод средневзвешенной стоимости (Weighted avеrage cost method) — порядок, при котором стоимость
каждого изделия определяется по средневзвешенной стоимости аналогичных изделий,
имеющихся в наличии на начало периода и приобретенных или произведенных в течение периода.
Средневзвешенная стоимость может рассчитываться на периодической основе или, 
в зависимости от конкретных условий, по получении каждой дополнительной поставки.
""";


securities = securities.sort_values(by=['client_isin_paper', 'client_date'])

# Для начала посчитаем методом FIFO
FIFO_table = pd.DataFrame()
FIFO_table['ISIN'] = securities['client_isin_paper']
FIFO_table['DATE'] = securities['client_date'].dt.strftime('%Y-%m-%d')
FIFO_table['AMOUNT'] = securities['client_n_papers']
FIFO_table['CURRENCY'] = securities['client_currency']
FIFO_table['COST'] = securities['client_closing_price']

In [10]:
currency_info = pd.DataFrame()
currency_info['CURRENCY'] =  investment_currencyhistory['currency']

investment_currencyhistory['quote_date'] = pd.to_datetime(investment_currencyhistory['quote_date'],
                                                          format='%Y-%m-%d')
currency_info['DATE'] = investment_currencyhistory['quote_date'].dt.strftime('%Y-%m-%d')
currency_info['inUSD_DIR'] = investment_currencyhistory['direct_quote']
currency_info = currency_info.sort_values(by=['CURRENCY', 'DATE']).reset_index(drop=True, inplace=False)
# Для удобства переведем все в 1 валюту. Пусть это будут доллары

In [11]:
# Поработаем с FIFO_TABLE
# ВЫЧИСЛИМ средневзвешенное значение акции в валюте той таблицы
FIFO_table['MEAN_DAILY'] = (FIFO_table['COST'] / FIFO_table['AMOUNT']).round(2)
FIFO_table = FIFO_table.reset_index(drop=True, inplace=False)

In [12]:
# Теперь нам надо получить ближайшую дату к данной и взять отуда значене валюты
# Если значение в долларах, то переводить не надо.
# Если значение в другой валюте, то переводим в доллары  
FIFO_LIST = FIFO_table.values.tolist()

In [13]:
CURRENCY_LIST = currency_info.values.tolist()

In [14]:
# Допустим, что клиенты решили продать все свои бумаги,
# тогда по методу FIFO необходимо начать продавать их самого конца их входжнения в портфель.
# Для этого, мы должны вначале найти цену по которой торгуется вся валюта в долларах,
# доллары переводить не будем, их коэффициент будет = 1, 
# все остальный надо будет искать в всоответствии currency/USD. 
# Затем мы переводим всю валюту в одну, и начинаем с конца списка продавать 
# (в данном примере складывать) и потом делить на количество. 
# Тогда мы найдем среднюю цену бумаги методом FIFO.


# У нас есть 2 датасета. В одном есть цены по которым торгуются бумаги. Оттуда мы будем брать актуальный курс.
# В другом датасете у нас сами бумаги, их количество и даты покупки.

# Найдем все уникальный курсы
currency_unique_с = currency_info['CURRENCY'].unique()
currency_unique_с

array(['AUD/USD', 'EUR/USD', 'RUB/USD'], dtype=object)

In [15]:
# Нашли. Теперь для каждого курса надо найти последнюю дату и сам курс.
currency_unique_d_AUDUSD = currency_info[(currency_info['CURRENCY'] == 'AUD/USD')].DATE.max()
currency_unique_d_EURUSD = currency_info[(currency_info['CURRENCY'] == 'EUR/USD')].DATE.max()
currency_unique_d_RUBUSD = currency_info[(currency_info['CURRENCY'] == 'RUB/USD')].DATE.max()

print(f'currency_unique_d_AUDUSD: {currency_unique_d_AUDUSD}\n'
      f'currency_unique_d_EURUSD: {currency_unique_d_EURUSD}\n'
      f'currency_unique_d_RUBUSD: {currency_unique_d_RUBUSD}')

currency_unique_d_AUDUSD: 2023-03-21
currency_unique_d_EURUSD: 2023-03-26
currency_unique_d_RUBUSD: 2023-03-16

In [16]:
currency_unique_c_AUDUSD = currency_info[(currency_info['DATE'] == currency_unique_d_AUDUSD)].inUSD_DIR.item()
currency_unique_c_EURUSD = currency_info[(currency_info['DATE'] == currency_unique_d_EURUSD)].inUSD_DIR.item()

n = currency_info[(currency_info['DATE'] == currency_unique_d_RUBUSD)]['inUSD_DIR'].index.max()
currency_unique_c_RUBUSD = currency_info[(currency_info['inUSD_DIR'].index == n)].inUSD_DIR.item()

In [17]:
# Получили курс.
# Теперь можно перевести все цены

print(f'currency_unique_c_AUDUSD: {currency_unique_c_AUDUSD}\n'
      f'currency_unique_c_EURUSD: {currency_unique_c_EURUSD}\n'
      f'currency_unique_c_RUBUSD: {currency_unique_c_RUBUSD}')

currency_unique_c_AUDUSD: 18.428904
currency_unique_c_EURUSD: 38.735123
currency_unique_c_RUBUSD: 37.252357

In [18]:
FIFO_R = pd.DataFrame()
FIFO_A = pd.DataFrame()
FIFO_U = pd.DataFrame()
FIFO_E = pd.DataFrame()

FIFO_R['RUB_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'RUB']['MEAN_DAILY']
FIFO_A['AUD_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'AUD']['MEAN_DAILY']
FIFO_U['USD_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'USD']['MEAN_DAILY']
FIFO_E['EUR_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'EUR']['MEAN_DAILY']

FIFO_R['RUB_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'RUB')]['MEAN_DAILY'] * currency_unique_c_RUBUSD
FIFO_A['AUD_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'AUD')]['MEAN_DAILY'] * currency_unique_c_AUDUSD
FIFO_U['USD_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'USD')]['MEAN_DAILY'] * 1
FIFO_E['EUR_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'EUR')]['MEAN_DAILY'] * currency_unique_c_EURUSD

FIFO_table['UE_USD'] = pd.concat([FIFO_R['RUB_USD'], FIFO_A['AUD_USD'],
                                  FIFO_E['EUR_USD'], FIFO_U['USD_USD']],
                                 ignore_index=True)

In [19]:
n_isins = FIFO_table['ISIN'].nunique()
print(f'Количество различных бумаг: {n_isins}')
FIFO_list = FIFO_table.values.tolist()

Количество различных бумаг: 13

In [20]:
means = []
buf = []
for i in range(len(FIFO_list)):

    try: 
        if FIFO_list[i][0] == FIFO_list[i+1][0]:
            buf.append(FIFO_list[i][6])
        else:
            buf.append(FIFO_list[i][6])
            mean = np.mean(buf)
            means.append(mean)
            buf = []
    except IndexError:
        buf.append(FIFO_list[i][6])
        mean = np.mean(buf)
        means.append(mean)
        buf = []

In [21]:
# Получили данные. Теперь можно найти среднее для каждой бумаги
ISIN_MEAN = pd.DataFrame()

ISIN_MEAN['ISIN'] = FIFO_table['ISIN'].unique()
ISIN_MEAN['MEAN_WITH_FIFO'] = pd.Series(means).round(2)
ISIN_MEAN['IN_CURRENCY'] = 'USD'

In [22]:
ISIN_MEAN

         ISIN  MEAN_WITH_FIFO IN_CURRENCY
0        11dd        59784.32         USD
1      3kj3j3        47096.84         USD
2       5673d       137509.44         USD
3     dcw12l1        58593.07         USD
4   defdjwkf3        28245.61         USD
5    dwwdsxw1        33050.38         USD
6     f3bfic3       106217.11         USD
7      fdsfaw        51277.50         USD
8      fjdh22        49454.89         USD
9   fjwj4nfu4        78461.71         USD
10  fmdkwm1e1         1637.06         USD
11     gdhf72         1174.86         USD
12    ldoddd3         2908.54         USD

## Таким образом мы получили среднее методом FIFO

Конечно, мы принебрегли некоторыми вещами (но в целом, мы соблюли правила этого метода), но при масштабировании и взятии за основу функций из этого ноутбука, можно улучшить и упросить этот код.