In [1]:
import pandas as pd
import numpy as np

In [2]:
# path to csv's files
path_to_history_prices = '..//csv_s//history_prices.csv'
path_to_investment_currencyhistory = '..//csv_s//investment_currencyhistory.csv'
path_to_securities = '..//csv_s//securities.csv'
path_to_сlients = '..//csv_s//history_prices.csv'

# read files
history_prices = pd.read_csv(path_to_history_prices)
investment_currencyhistory = pd.read_csv(path_to_investment_currencyhistory) 
securities = pd.read_csv(path_to_securities) 
сlients = pd.read_csv(path_to_сlients)

# drop column
history_prices = history_prices.drop(columns=['Unnamed: 0'])
investment_currencyhistory = investment_currencyhistory.drop(columns=['Unnamed: 0'])
securities = securities.drop(columns=['Unnamed: 0'])
securities['client_date'] = pd.to_datetime(securities['client_date'], format='%Y-%m-%d')

сlients = сlients.drop(columns=['Unnamed: 0'])

In [3]:
def informer(dataframe):
    
    print(f'INFORMATION FOR DATAFRAME:')
    print(dataframe.info())
    print('---------------')

    # Проверка на отсутствие каких-либо данных
    print('pd.ISNULL().SUM()')
    print(dataframe.isnull().sum())
    print('---------------')

    # Посчитаем количество уникальных гномов
    print(f'Количество уникальных значений для каждой колонки:\n'
          f'{dataframe.nunique()}')
    print('---------------')

In [4]:
# HISTORY_PRICES
informer(dataframe=history_prices)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [5]:
# INVESTMENT_CURRENCYHISTORY
informer(dataframe=investment_currencyhistory)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    53 non-null     int64
 1   currency       53 non-null     object
 2   direct_quote   53 non-null     float64
 3   reverse_quote  53 non-null     float64
 4   cross_course   53 non-null     float64
 5   quote_date     53 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
quote_date       0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      53
currency          3
direct_quote     53
reverse_quote    53
cross_course     53
quote_date       53
dtype: int64
---------------

In [6]:
# SECURITIES
informer(dataframe=securities)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   operation_id          156 non-null    int64
 1   client_id             156 non-null    int64
 2   client_date           156 non-null    datetime64[ns, pytz.FixedOffset(180)]
 3   client_isin_paper     156 non-null    object
 4   client_n_papers       156 non-null    int64
 5   client_currency       156 non-null    object
 6   client_rialto         156 non-null    object
 7   client_closing_price  156 non-null    int64
dtypes: datetime64[ns, pytz.FixedOffset(180)](1), int64(4), object(3)
memory usage: 9.9+ KB
None
---------------
pd.ISNULL().SUM()
operation_id            0
client_id               0
client_date             0
client_isin_paper       0
client_n_papers         0
client_currency         0
client_rialto           0
client_closing_price    0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
operation_id            156
client_id                10
client_date             156
client_isin_paper        13
client_n_papers         130
client_currency           4
client_rialto             6
client_closing_price    156
dtype: int64
---------------

In [7]:
# CLIENTS
informer(dataframe=сlients)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [8]:
securities.head()

,operation_id,client_id,client_date,client_isin_paper,client_n_papers,client_currency,client_rialto,client_closing_price
0,455,3,2023-01-17 05:59:40.002306+03:00,fdsfaw,46,RUB,LON,49426
1,553,5,2023-02-25 17:00:06.797176+03:00,fjwj4nfu4,10,AUD,GON,417761
2,5807,4,2023-01-21 12:55:53.499898+03:00,gdhf72,390,AUD,LON,203273
3,3855,6,2023-03-16 12:04:49.583242+03:00,dcw12l1,487,RUB,BER,186051
4,1358,1,2023-03-10 08:15:16.450479+03:00,dcw12l1,72,RUB,NYC,407353

In [9]:
currensy_history_for_mean = investment_currencyhistory.copy()

currensy_history_for_mean = currensy_history_for_mean.drop(columns=['currency_id'])
currensy_history_for_mean = currensy_history_for_mean.sort_values(by=['currency', 'quote_date'])


            
currensy_history_for_mean.head(50)

,currency,direct_quote,reverse_quote,cross_course,quote_date
8,AUD/USD,6.825605,1.266740,1.353881,2023-01-07 22:23:54.298263+03:00
48,AUD/USD,31.754864,1.433472,1.532539,2023-01-11 19:19:36.512036+03:00
52,AUD/USD,10.124482,1.251789,1.392454,2023-01-13 06:52:35.450810+03:00
51,AUD/USD,23.816452,1.322356,1.403152,2023-01-14 23:57:08.304318+03:00
10,AUD/USD,48.628930,1.327655,1.272561,2023-01-15 03:39:55.587255+03:00
44,AUD/USD,32.305794,1.460430,1.277857,2023-01-19 07:42:08.320586+03:00
27,AUD/USD,4.594396,1.491398,1.405579,2023-01-22 03:41:03.547779+03:00
22,AUD/USD,48.393093,1.512739,1.223029,2023-01-29 19:51:56.702654+03:00
50,AUD/USD,27.300398,1.538065,1.524046,2023-02-05 04:19:04.417176+03:00
42,AUD/USD,15.359939,1.283091,1.346227,2023-02-05 12:34:46.046819+03:00
46,AUD/USD,21.520678,1.280914,1.272778,2023-02-06 03:22:53.552371+03:00
3,AUD/USD,30.282850,1.249079,1.219998,2023-02-08 15:00:20.269062+03:00
33,AUD/USD,7.313654,1.506702,1.427029,2023-02-23 01:00:38.065420+03:00
41,AUD/USD,46.742020,1.448512,1.227630,2023-02-23 11:59:35.005426+03:00
28,AUD/USD,14.690769,1.441109,1.331029,2023-02-26 20:44:37.280160+03:00
1,AUD/USD,5.604485,1.276330,1.278901,2023-02-27 08:24:38.341130+03:00
36,AUD/USD,13.692366,1.390291,1.264717,2023-03-01 10:46:23.376769+03:00
47,AUD/USD,23.892336,1.285859,1.291384,2023-03-10 14:41:37.817399+03:00
25,AUD/USD,18.428904,1.392556,1.342636,2023-03-21 20:23:19.073758+03:00
15,EUR/USD,28.365665,1.311497,1.277304,2023-01-21 17:35:38.759232+03:00
49,EUR/USD,42.526363,1.324253,1.291206,2023-01-31 06:14:03.170409+03:00
13,EUR/USD,4.756792,1.426828,1.506021,2023-01-31 08:23:55.161086+03:00
40,EUR/USD,39.148533,1.504871,1.405142,2023-02-03 09:36:03.071679+03:00
16,EUR/USD,8.615866,1.394402,1.418013,2023-02-06 18:43:56.458655+03:00
0,EUR/USD,16.280119,1.422668,1.510995,2023-02-09 12:09:48.234453+03:00
19,EUR/USD,32.162796,1.267555,1.321163,2023-02-16 02:32:37.478572+03:00
2,EUR/USD,25.455630,1.457471,1.491247,2023-02-23 12:52:13.436271+03:00
6,EUR/USD,28.219723,1.210990,1.344795,2023-02-23 14:32:55.607510+03:00
37,EUR/USD,50.328620,1.387326,1.286533,2023-02-23 17:19:46.934440+03:00
29,EUR/USD,41.519917,1.290960,1.305815,2023-02-26 06:53:29.828466+03:00
34,EUR/USD,32.601837,1.512537,1.351198,2023-03-04 06:21:41.478688+03:00
31,EUR/USD,40.102640,1.310026,1.278085,2023-03-11 07:39:25.336877+03:00
23,EUR/USD,49.206110,1.434974,1.513698,2023-03-15 19:05:11.268566+03:00
11,EUR/USD,4.066001,1.515246,1.507824,2023-03-19 17:57:17.167084+03:00
35,EUR/USD,38.735123,1.456225,1.481038,2023-03-26 00:47:25.696370+03:00
21,RUB/USD,43.072990,1.457717,1.513116,2023-01-02 06:08:01.133101+03:00
39,RUB/USD,40.569473,1.351581,1.376421,2023-01-13 12:26:27.298733+03:00
43,RUB/USD,32.824600,1.291965,1.297019,2023-01-14 04:42:16.156460+03:00
20,RUB/USD,32.950880,1.278955,1.219456,2023-01-14 18:07:55.252438+03:00
18,RUB/USD,8.688482,1.380837,1.220646,2023-01-19 00:00:31.202630+03:00
24,RUB/USD,1.358981,1.531492,1.261800,2023-01-21 16:01:45.947593+03:00
45,RUB/USD,5.228767,1.289377,1.377655,2023-01-22 04:47:39.495355+03:00
5,RUB/USD,50.095406,1.471334,1.415689,2023-01-30 17:26:29.447181+03:00
17,RUB/USD,14.189708,1.452670,1.385022,2023-01-30 17:52:41.656336+03:00
30,RUB/USD,2.332450,1.455481,1.509951,2023-02-01 08:37:30.687216+03:00
32,RUB/USD,21.418304,1.240422,1.415448,2023-02-04 04:36:26.176393+03:00
7,RUB/USD,3.633767,1.503523,1.304873,2023-02-17 20:40:25.138740+03:00
12,RUB/USD,4.888742,1.290626,1.483176,2023-02-18 21:20:39.443642+03:00
9,RUB/USD,30.677097,1.347600,1.289707,2023-02-23 15:52:20.298087+03:00
38,RUB/USD,24.035933,1.234098,1.339697,2023-03-02 16:42:16.812413+03:00

In [10]:
"""
    3. Рассчитать среднюю цену покупки для каждой бумаги.
        a. методом FIFO
        b. метод средневзвешенной стоимости
        
        
Для метода FIFO нам надо знать номер бумаги (ISIN), дату ее последней цены на рынке и количество.

Метод FIFO заключается в "first in first out"



Метод средневзвешенной стоимости (Weighted avеrage cost method) — порядок, при котором стоимость
каждого изделия определяется по средневзвешенной стоимости аналогичных изделий,
имеющихся в наличии на начало периода и приобретенных или произведенных в течение периода.
Средневзвешенная стоимость может рассчитываться на периодической основе или, 
в зависимости от конкретных условий, по получении каждой дополнительной поставки.
""";


securities = securities.sort_values(by=['client_isin_paper', 'client_date'])

# Для начала посчитаем методом FIFO
FIFO_table = pd.DataFrame()
FIFO_table['ISIN'] = securities['client_isin_paper']
FIFO_table['DATE'] = securities['client_date'].dt.strftime('%Y-%m-%d')
FIFO_table['AMOUNT'] = securities['client_n_papers']
FIFO_table['CURRENCY'] = securities['client_currency']
FIFO_table['COST'] = securities['client_closing_price']

In [11]:
FIFO_table

        ISIN        DATE  AMOUNT CURRENCY    COST
152     11dd  2023-01-10     138      RUB  349530
79      11dd  2023-01-10     393      USD  168172
143     11dd  2023-01-23     389      USD  289882
26      11dd  2023-02-22     355      EUR  455350
98      11dd  2023-03-14     398      RUB  309201
..       ...         ...     ...      ...     ...
111  ldoddd3  2023-02-20      23      USD  293480
64   ldoddd3  2023-02-23     141      EUR  136004
47   ldoddd3  2023-03-07      94      AUD  331776
118  ldoddd3  2023-03-23     222      AUD  468802
23   ldoddd3  2023-03-28     173      AUD   14737

[156 rows x 5 columns]

In [12]:
currency_info = pd.DataFrame()
currency_info['CURRENCY'] =  investment_currencyhistory['currency']

investment_currencyhistory['quote_date'] = pd.to_datetime(investment_currencyhistory['quote_date'],
                                                          format='%Y-%m-%d')
currency_info['DATE'] = investment_currencyhistory['quote_date'].dt.strftime('%Y-%m-%d')
currency_info['inUSD_DIR'] = investment_currencyhistory['direct_quote']
currency_info = currency_info.sort_values(by=['CURRENCY', 'DATE']).reset_index(drop=True, inplace=False)
# Для удобства переведем все в 1 валюту. Пусть это будут доллары

In [13]:
currency_info

   CURRENCY        DATE  inUSD_DIR
0   AUD/USD  2023-01-07   6.825605
1   AUD/USD  2023-01-11  31.754864
2   AUD/USD  2023-01-13  10.124482
3   AUD/USD  2023-01-14  23.816452
4   AUD/USD  2023-01-15  48.628930
5   AUD/USD  2023-01-19  32.305794
6   AUD/USD  2023-01-22   4.594396
7   AUD/USD  2023-01-29  48.393093
8   AUD/USD  2023-02-05  15.359939
9   AUD/USD  2023-02-05  27.300398
10  AUD/USD  2023-02-06  21.520678
11  AUD/USD  2023-02-08  30.282850
12  AUD/USD  2023-02-23   7.313654
13  AUD/USD  2023-02-23  46.742020
14  AUD/USD  2023-02-26  14.690769
15  AUD/USD  2023-02-27   5.604485
16  AUD/USD  2023-03-01  13.692366
17  AUD/USD  2023-03-10  23.892336
18  AUD/USD  2023-03-21  18.428904
19  EUR/USD  2023-01-21  28.365665
20  EUR/USD  2023-01-31   4.756792
21  EUR/USD  2023-01-31  42.526363
22  EUR/USD  2023-02-03  39.148533
23  EUR/USD  2023-02-06   8.615866
24  EUR/USD  2023-02-09  16.280119
25  EUR/USD  2023-02-16  32.162796
26  EUR/USD  2023-02-23  25.455630
27  EUR/USD  2023-02-23  28.219723
28  EUR/USD  2023-02-23  50.328620
29  EUR/USD  2023-02-26  41.519917
30  EUR/USD  2023-03-04  32.601837
31  EUR/USD  2023-03-11  40.102640
32  EUR/USD  2023-03-15  49.206110
33  EUR/USD  2023-03-19   4.066001
34  EUR/USD  2023-03-26  38.735123
35  RUB/USD  2023-01-02  43.072990
36  RUB/USD  2023-01-13  40.569473
37  RUB/USD  2023-01-14  32.950880
38  RUB/USD  2023-01-14  32.824600
39  RUB/USD  2023-01-19   8.688482
40  RUB/USD  2023-01-21   1.358981
41  RUB/USD  2023-01-22   5.228767
42  RUB/USD  2023-01-30  50.095406
43  RUB/USD  2023-01-30  14.189708
44  RUB/USD  2023-02-01   2.332450
45  RUB/USD  2023-02-04  21.418304
46  RUB/USD  2023-02-17   3.633767
47  RUB/USD  2023-02-18   4.888742
48  RUB/USD  2023-02-23  30.677097
49  RUB/USD  2023-03-02  24.035933
50  RUB/USD  2023-03-12  23.302223
51  RUB/USD  2023-03-16  33.103638
52  RUB/USD  2023-03-16  37.252357

In [14]:
# Поработаем с FIFO_TABLE
# ВЫЧИСЛИМ средневзвешенное значение акции в валюте той таблицы
FIFO_table['MEAN_DAILY'] = (FIFO_table['COST'] / FIFO_table['AMOUNT']).round(2)
FIFO_table = FIFO_table.reset_index(drop=True, inplace=False)
FIFO_table

        ISIN        DATE  AMOUNT CURRENCY    COST  MEAN_DAILY
0       11dd  2023-01-10     138      RUB  349530     2532.83
1       11dd  2023-01-10     393      USD  168172      427.92
2       11dd  2023-01-23     389      USD  289882      745.20
3       11dd  2023-02-22     355      EUR  455350     1282.68
4       11dd  2023-03-14     398      RUB  309201      776.89
..       ...         ...     ...      ...     ...         ...
151  ldoddd3  2023-02-20      23      USD  293480    12760.00
152  ldoddd3  2023-02-23     141      EUR  136004      964.57
153  ldoddd3  2023-03-07      94      AUD  331776     3529.53
154  ldoddd3  2023-03-23     222      AUD  468802     2111.72
155  ldoddd3  2023-03-28     173      AUD   14737       85.18

[156 rows x 6 columns]

In [15]:
# Теперь нам надо получить ближайшую дату к данной и взять отуда значене валюты
# Если значение в долларах, то переводить не надо.
# Если значение в другой валюте, то переводим в доллары  
FIFO_LIST = FIFO_table.values.tolist()

In [17]:
CURRENCY_LIST = currency_info.values.tolist()

In [22]:
# Допустим, что клиенты решили продать все свои бумаги,
# тогда по методу FIFO необходимо начать продавать их самого конца их входжнения в портфель.
# Для этого, мы должны вначале найти цену по которой торгуется вся валюта в долларах,
# доллары переводить не будем, их коэффициент будет = 1, 
# все остальный надо будет искать в всоответствии currency/USD. 
# Затем мы переводим всю валюту в одну, и начинаем с конца списка продавать 
# (в данном примере складывать) и потом делить на количество. 
# Тогда мы найдем среднюю цену бумаги методом FIFO.


# У нас есть 2 датасета. В одном есть цены по которым торгуются бумаги. Оттуда мы будем брать актуальный курс.
# В другом датасете у нас сами бумаги, их количество и даты покупки.

# Найдем все уникальный курсы
currency_unique_с = currency_info['CURRENCY'].unique()
currency_unique_с

array(['AUD/USD', 'EUR/USD', 'RUB/USD'], dtype=object)

In [32]:
# Нашли. Теперь для каждого курса надо найти последнюю дату и сам курс.
currency_unique_d_AUDUSD = currency_info[(currency_info['CURRENCY'] == 'AUD/USD')].DATE.max()
currency_unique_d_EURUSD = currency_info[(currency_info['CURRENCY'] == 'EUR/USD')].DATE.max()
currency_unique_d_RUBUSD = currency_info[(currency_info['CURRENCY'] == 'RUB/USD')].DATE.max()

print(f'currency_unique_d_AUDUSD: {currency_unique_d_AUDUSD}\n'
      f'currency_unique_d_EURUSD: {currency_unique_d_EURUSD}\n'
      f'currency_unique_d_RUBUSD: {currency_unique_d_RUBUSD}')

currency_unique_d_AUDUSD: 2023-03-21
currency_unique_d_EURUSD: 2023-03-26
currency_unique_d_RUBUSD: 2023-03-16

In [73]:
currency_unique_c_AUDUSD = currency_info[(currency_info['DATE'] == currency_unique_d_AUDUSD)].inUSD_DIR.item()
currency_unique_c_EURUSD = currency_info[(currency_info['DATE'] == currency_unique_d_EURUSD)].inUSD_DIR.item()

n = currency_info[(currency_info['DATE'] == currency_unique_d_RUBUSD)]['inUSD_DIR'].index.max()
currency_unique_c_RUBUSD = currency_info[(currency_info['inUSD_DIR'].index == n)].inUSD_DIR.item()

In [75]:
# Получили курс.
# Теперь можно перевести все цены

print(f'currency_unique_c_AUDUSD: {currency_unique_c_AUDUSD}\n'
      f'currency_unique_c_EURUSD: {currency_unique_c_EURUSD}\n'
      f'currency_unique_c_RUBUSD: {currency_unique_c_RUBUSD}')

currency_unique_c_AUDUSD: 18.428904
currency_unique_c_EURUSD: 38.735123
currency_unique_c_RUBUSD: 37.252357

In [135]:
FIFO_R = pd.DataFrame()
FIFO_A = pd.DataFrame()
FIFO_U = pd.DataFrame()
FIFO_E = pd.DataFrame()

FIFO_R['RUB_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'RUB']['MEAN_DAILY']
FIFO_A['AUD_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'AUD']['MEAN_DAILY']
FIFO_U['USD_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'USD']['MEAN_DAILY']
FIFO_E['EUR_USD'] = FIFO_table[FIFO_table['CURRENCY'] == 'EUR']['MEAN_DAILY']

FIFO_R['RUB_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'RUB')]['MEAN_DAILY'] * currency_unique_c_RUBUSD
FIFO_A['AUD_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'AUD')]['MEAN_DAILY'] * currency_unique_c_AUDUSD
FIFO_U['USD_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'USD')]['MEAN_DAILY'] * 1
FIFO_E['EUR_USD'] = FIFO_table[(FIFO_table['CURRENCY'] == 'EUR')]['MEAN_DAILY'] * currency_unique_c_EURUSD

FIFO_table['UE_USD'] = pd.concat([FIFO_R['RUB_USD'], FIFO_A['AUD_USD'],
                                  FIFO_E['EUR_USD'], FIFO_U['USD_USD']],
                                 ignore_index=True)

In [151]:
FIFO_list = FIFO_table.values.tolist()
FIFO_list

[['11dd', '2023-01-10', 138, 'RUB', 349530, 2532.83, 94353.88738031],
 ['11dd', '2023-01-10', 393, 'USD', 168172, 427.92, 28940.983629730003],
 ['11dd', '2023-01-23', 389, 'USD', 289882, 745.2, 118750.82850318],
 ['11dd', '2023-02-22', 355, 'EUR', 455350, 1282.68, 25592.369259000003],
 ['11dd', '2023-03-14', 398, 'RUB', 309201, 776.89, 55377.86382192],
 ['11dd', '2023-03-18', 127, 'USD', 397209, 3127.63, 35689.99314742],
 ['3kj3j3', '2023-01-02', 463, 'AUD', 168697, 364.36, 14055.314296100001],
 ['3kj3j3', '2023-01-10', 136, 'RUB', 433532, 3187.74, 30362.161049280003],
 ['3kj3j3', '2023-01-17', 418, 'RUB', 287166, 687.0, 32982.86436423],
 ['3kj3j3', '2023-01-31', 97, 'AUD', 390610, 4026.91, 29152.949541060003],
 ['3kj3j3', '2023-02-03', 329, 'RUB', 489078, 1486.56, 4732.539433280001],
 ['3kj3j3', '2023-02-09', 394, 'AUD', 12619, 32.03, 4200.94829889],
 ['3kj3j3', '2023-02-12', 380, 'EUR', 67485, 177.59, 39265.474372280005],
 ['3kj3j3', '2023-02-15', 247, 'RUB', 236640, 958.06, 25459.750868080006],
 ['3kj3j3', '2023-02-19', 125, 'EUR', 297947, 2383.58, 210761.91515176004],
 ['3kj3j3', '2023-02-21', 170, 'EUR', 21699, 127.64, 45811.83106789],
 ['3kj3j3', '2023-02-23', 451, 'RUB', 170161, 377.3, 14231.51794471],
 ['3kj3j3', '2023-02-25', 96, 'AUD', 302864, 3154.83, 49348.56984147001],
 ['3kj3j3', '2023-02-28', 493, 'AUD', 131362, 266.45, 40690.00450396],
 ['3kj3j3', '2023-03-08', 203, 'EUR', 267612, 1318.29, 94410.88348652002],
 ['3kj3j3', '2023-03-09', 165, 'RUB', 134481, 815.04, 73903.08843445001],
 ['3kj3j3', '2023-03-09', 465, 'RUB', 411705, 885.39, 39844.003476490005],
 ['3kj3j3', '2023-03-10', 450, 'RUB', 352159, 782.58, 51432.46669205001],
 ['5673d', '2023-01-29', 150, 'EUR', 79145, 527.63, 323819.46593463],
 ['5673d', '2023-02-22', 76, 'AUD', 199518, 2625.24, 696732.3230652801],
 ['5673d', '2023-02-23', 53, 'USD', 184085, 3473.3, 40026.91254936001],
 ['5673d', '2023-03-03', 243, 'EUR', 308078, 1267.81, 28338.240493470003],
 ['5673d', '2023-03-07', 211, 'AUD', 54636, 258.94, 36346.37967776],
 ['5673d', '2023-03-12', 80, 'EUR', 286222, 3577.78, 80135.03523698001],
 ['5673d', '2023-03-17', 247, 'RUB', 31378, 127.04, 30222.464710530003],
 ['5673d', '2023-03-19', 188, 'USD', 248242, 1320.44, 63124.1189365],
 ['5673d', '2023-03-21', 200, 'USD', 454243, 2271.22, 47865.55350930001],
 ['5673d', '2023-03-25', 423, 'USD', 344362, 814.09, 28483.897209340004],
 ['dcw12l1', '2023-01-05', 375, 'RUB', 42288, 112.77, 127084.55328765001],
 ['dcw12l1', '2023-01-20', 479, 'EUR', 255763, 533.95, 25080.521873820002],
 ['dcw12l1', '2023-01-29', 39, 'EUR', 208447, 5344.79, 1880.8715049300004],
 ['dcw12l1', '2023-02-02', 457, 'USD', 342000, 748.36, 18957.724477300002],
 ['dcw12l1', '2023-02-04', 313, 'RUB', 329915, 1054.04, 39219.2814496],
 ['dcw12l1', '2023-02-08', 111, 'USD', 200393, 1805.34, 263155.86517798004],
 ['dcw12l1', '2023-02-09', 262, 'AUD', 281061, 1072.75, 79299.83739304],
 ['dcw12l1', '2023-02-10', 158, 'RUB', 107983, 683.44, 100889.81341596002],
 ['dcw12l1', '2023-02-16', 134, 'EUR', 9668, 72.15, 66593.05842034],
 ['dcw12l1', '2023-03-09', 364, 'AUD', 499573, 1372.45, 65432.64749979001],
 ['dcw12l1', '2023-03-10', 72, 'RUB', 407353, 5657.68, 708.9123537100002],
 ['dcw12l1', '2023-03-10', 260, 'AUD', 226175, 869.9, 5501.428081760001],
 ['dcw12l1', '2023-03-11', 374, 'RUB', 459934, 1229.77, 27113.382995310003],
 ['dcw12l1', '2023-03-16', 458, 'USD', 150716, 329.07, 18204.854342330003],
 ['dcw12l1', '2023-03-16', 487, 'RUB', 186051, 382.03, 79015.60190913001],
 ['dcw12l1', '2023-03-23', 338, 'AUD', 47196, 139.63, 19350.736843650004],
 ['defdjwkf3', '2023-01-12', 326, 'USD', 315837, 968.83, 6714.75546144],
 ['defdjwkf3', '2023-01-19', 88, 'AUD', 490465, 5573.47, 74211.53780664],
 ['defdjwkf3', '2023-02-23', 423, 'AUD', 364425, 861.52, 590.27779512],
 ['defdjwkf3', '2023-03-14', 297, 'USD', 161621, 544.18, 58140.059206319995],
 ['defdjwkf3', '2023-03-15', 362, 'USD', 93902, 259.4, 4910.3814708],
 ['defdjwkf3', '2023-03-22', 302, 'AUD', 208003, 688.75, 48380.29593695999],
 ['defdjwkf3', '2023-03-22', 315, 'RUB', 417284, 1324.71, 4771.98040176],
 ['dwwdsxw1', '2023-01-04', 449, 'USD', 466494, 1038.96, 19769.606766],
 ['dwwdsxw1', '2023-01-05', 452, 'EUR', 403389, 892.45, 25292.7492948],
 ['dwwdsxw1', '2023-01-07', 453, 'USD', 80778, 178.32, 16031.303589599998],
 ['dwwdsxw1', '2023-01-14', 195, 'RUB', 212994, 1092.28, 2573.22786552],
 ['dwwdsxw1', '2023-01-22', 469, 'USD', 438956, 935.94, 102712.94357688],
 ['dwwdsxw1', '2023-01-23', 352, 'USD', 345789, 982.36, 15876.869374079999],
 ['dwwdsxw1', '2023-01-27', 172, 'RUB', 435910, 2534.36, 12692.90763],
 ['dwwdsxw1', '2023-02-06', 390, 'EUR', 188370, 483.0, 5539.7285424],
 ['dwwdsxw1', '2023-02-06', 223, 'AUD', 67034, 300.6, 17865.348115679997],
 ['dwwdsxw1', '2023-02-12', 80, 'RUB', 158708, 1983.85, 31062.28627008],
 ['dwwdsxw1', '2023-02-24', 314, 'RUB', 335844, 1069.57, 58746.92301504],
 ['dwwdsxw1', '2023-03-19', 142, 'RUB', 196052, 1380.65, 88440.67887408001],
 ['f3bfic3', '2023-01-16', 488, 'EUR', 256982, 526.6, 31697.34630192],
 ['f3bfic3', '2023-01-25', 448, 'EUR', 351574, 784.76, 19404.34588872],
 ['f3bfic3', '2023-02-01', 39, 'RUB', 339011, 8692.59, 17057.60925336],
 ['f3bfic3', '2023-02-05', 235, 'USD', 226400, 963.4, 31524.483182399996],
 ['f3bfic3', '2023-02-09', 428, 'AUD', 414911, 969.42, 769887.7363943999],
 ['f3bfic3', '2023-02-14', 151, 'EUR', 25262, 167.3, 110181.99407904],
 ['f3bfic3', '2023-02-17', 155, 'USD', 328241, 2117.68, 1977.97426632],
 ['f3bfic3', '2023-02-23', 335, 'USD', 250478, 747.7, 10883.189257199998],
 ['f3bfic3', '2023-02-26', 478, 'USD', 61882, 129.46, 6052.9735187999995],
 ['f3bfic3', '2023-03-03', 161, 'AUD', 271369, 1685.52, 9605.32905384],
 ['f3bfic3', '2023-03-14', 449, 'USD', 429046, 955.56, 18656.68525344],
 ['f3bfic3', '2023-03-22', 266, 'EUR', 438833, 1649.75, 351567.2801628],
 ['f3bfic3', '2023-04-01', 23, 'RUB', 430170, 18703.04, 2325.54339576],
 ['fdsfaw', '2023-01-05', 275, 'EUR', 114310, 415.67, 150852.00516047998],
 ['fdsfaw', '2023-01-17', 46, 'RUB', 49426, 1074.48, 65045.36953512],
 ['fdsfaw', '2023-01-19', 444, 'RUB', 337754, 760.71, 38916.68515488],
 ['fdsfaw', '2023-02-12', 202, 'EUR', 321028, 1589.25, 1569.7740427200001],
 ['fdsfaw', '2023-02-18', 304, 'RUB', 296607, 975.68, 49684.767569640004],
 ['fdsfaw', '2023-03-05', 386, 'EUR', 243021, 629.59, 6878.97049357],
 ['fdsfaw', '2023-03-07', 279, 'EUR', 256324, 918.72, 92328.26448034],
 ['fdsfaw', '2023-03-30', 67, 'USD', 138459, 2066.55, 4944.15109972],
 ['fjdh22', '2023-01-07', 142, 'AUD', 452662, 3187.76, 51064.12529967],
 ['fjdh22', '2023-01-24', 92, 'USD', 497308, 5405.52, 20437.812948490002],
 ['fjdh22', '2023-02-01', 226, 'RUB', 486158, 2151.14, 49108.77629063],
 ['fjdh22', '2023-02-02', 336, 'RUB', 272594, 811.29, 138585.74836694],
 ['fjdh22', '2023-02-03', 85, 'USD', 415704, 4890.64, 20682.61892585],
 ['fjdh22', '2023-02-18', 80, 'AUD', 383922, 4799.02, 207031.09805917],
 ['fjdh22', '2023-02-23', 200, 'AUD', 343996, 1719.98, 2794.7391244500004],
 ['fjdh22', '2023-03-04', 278, 'EUR', 483697, 1739.92, 34569.16052135],
 ['fjdh22', '2023-03-05', 168, 'EUR', 261484, 1556.45, 18709.064409000002],
 ['fjdh22', '2023-03-09', 172, 'RUB', 291454, 1694.5, 20397.915771800002],
 ['fjdh22', '2023-03-09', 258, 'AUD', 271657, 1052.93, 30397.775125480002],
 ['fjdh22', '2023-03-15', 352, 'RUB', 452285, 1284.9, 6480.386077900001],
 ['fjdh22', '2023-03-15', 265, 'EUR', 3504, 13.22, 63903.26916925],
 ['fjdh22', '2023-03-18', 398, 'RUB', 304320, 764.62, 16101.028577410001],
 ['fjdh22', '2023-03-20', 242, 'AUD', 223992, 925.59, 61559.794227750004],
 ['fjwj4nfu4', '2023-01-03', 177, 'USD', 45568, 257.45, 24387.246089570002],
 ['fjwj4nfu4', '2023-01-08', 137, 'RUB', 467368, 3411.45, 35586.73220256],
 ['fjwj4nfu4', '2023-01-15', 472, 'RUB', 317777, 673.26, 67396.01521016001],
 ['fjwj4nfu4', '2023-01-17', 273, 'AUD', 466994, 1710.6, 60289.28219335],
 ['fjwj4nfu4', '2023-01-19', 158, 'RUB', 7977, 50.49, 512.07832606],
 ['fjwj4nfu4', '2023-01-24', 152, 'USD', 74030, 487.04, 15521.1637861],
 ['fjwj4nfu4', '2023-02-13', 282, 'EUR', 112996, 400.7, 20788.36581164],
 ['fjwj4nfu4', '2023-02-21', 436, 'USD', 32371, 74.25, 48285.26757565],
 ['fjwj4nfu4', '2023-02-25', 10, 'AUD', 417761, 41776.1, 111439.01211485],
 ['fjwj4nfu4', '2023-02-27', 25, 'AUD', 149469, 5978.76, 370129.20696296997],
 ['fjwj4nfu4', '2023-03-03', 483, 'USD', 445449, 922.25, 143033.70254103],
 ['fjwj4nfu4', '2023-03-09', 398, 'RUB', 202544, 508.9, 84565.74583114],
 ['fjwj4nfu4', '2023-03-13', 461, 'RUB', 485340, 1052.8, 33957.92028041],
 ['fjwj4nfu4', '2023-03-19', 51, 'RUB', 360271, 7064.14, 123671.17660702],
 ['fjwj4nfu4', '2023-03-21', 336, 'AUD', 36063, 107.33, 37362.73759211],
 ['fmdkwm1e1', '2023-01-01', 398, 'AUD', 235037, 590.55, 427.92],
 ['fmdkwm1e1', '2023-01-18', 350, 'USD', 15048, 42.99, 745.2],
 ['fmdkwm1e1', '2023-01-26', 388, 'USD', 273336, 704.47, 3127.63],
 ['fmdkwm1e1', '2023-01-28', 366, 'AUD', 120211, 328.45, 3473.3],
 ['fmdkwm1e1', '2023-01-29', 215, 'USD', 12624, 58.72, 1320.44],
 ['fmdkwm1e1', '2023-02-15', 206, 'EUR', 110556, 536.68, 2271.22],
 ['fmdkwm1e1', '2023-02-28', 365, 'EUR', 454992, 1246.55, 814.09],
 ['fmdkwm1e1', '2023-03-07', 58, 'EUR', 166863, 2876.95, 748.36],
 ['fmdkwm1e1', '2023-03-13', 98, 'RUB', 208615, 2128.72, 1805.34],
 ['gdhf72', '2023-01-03', 146, 'RUB', 395409, 2708.28, 329.07],
 ['gdhf72', '2023-01-07', 51, 'EUR', 487325, 9555.39, 968.83],
 ['gdhf72', '2023-01-08', 255, 'RUB', 455843, 1787.62, 544.18],
 ['gdhf72', '2023-01-13', 67, 'USD', 156732, 2339.28, 259.4],
 ['gdhf72', '2023-01-21', 390, 'AUD', 203273, 521.21, 1038.96],
 ['gdhf72', '2023-01-23', 364, 'AUD', 368500, 1012.36, 178.32],
 ['gdhf72', '2023-02-15', 177, 'RUB', 310896, 1756.47, 935.94],
 ['gdhf72', '2023-02-21', 77, 'EUR', 284331, 3692.61, 982.36],
 ['gdhf72', '2023-02-22', 24, 'USD', 347259, 14469.12, 963.4],
 ['gdhf72', '2023-02-26', 451, 'USD', 322626, 715.36, 2117.68],
 ['gdhf72', '2023-03-04', 21, 'AUD', 400616, 19076.95, 747.7],
 ['gdhf72', '2023-03-05', 465, 'RUB', 8850, 19.03, 129.46],
 ['gdhf72', '2023-03-20', 330, 'RUB', 48733, 147.68, 955.56],
 ['gdhf72', '2023-03-22', 495, 'USD', 44292, 89.48, 2066.55],
 ['gdhf72', '2023-03-29', 294, 'AUD', 37099, 126.19, 5405.52],
 ['ldoddd3', '2023-01-14', 175, 'RUB', 127370, 727.83, 4890.64],
 ['ldoddd3', '2023-01-19', 400, 'RUB', 195477, 488.69, 257.45],
 ['ldoddd3', '2023-01-25', 97, 'EUR', 211768, 2183.18, 487.04],
 ['ldoddd3', '2023-01-30', 212, 'RUB', 449671, 2121.09, 74.25],
 ['ldoddd3', '2023-02-01', 188, 'RUB', 97656, 519.45, 922.25],
 ['ldoddd3', '2023-02-06', 396, 'EUR', 347163, 876.67, 42.99],
 ['ldoddd3', '2023-02-14', 142, 'EUR', 453369, 3192.74, 704.47],
 ['ldoddd3', '2023-02-16', 52, 'AUD', 425652, 8185.62, 58.72],
 ['ldoddd3', '2023-02-20', 23, 'USD', 293480, 12760.0, 2339.28],
 ['ldoddd3', '2023-02-23', 141, 'EUR', 136004, 964.57, 14469.12],
 ['ldoddd3', '2023-03-07', 94, 'AUD', 331776, 3529.53, 715.36],
 ['ldoddd3', '2023-03-23', 222, 'AUD', 468802, 2111.72, 89.48],
 ['ldoddd3', '2023-03-28', 173, 'AUD', 14737, 85.18, 12760.0]]

In [145]:
FIFO_table[(FIFO_table['ISIN'] == '11dd')]['UE_USD'].values.mean()

59784.32095692667

In [157]:
means = []
for i in range(len(FIFO_list)):
    buf = []
    try: 
        if FIFO_list[i][0] == FIFO_list[i+1][0]:
            buf.append(FIFO_list[6])
        else:
            buf.append(FIFO_list[i][6])
            # mean = np.mean(buf)
            # means.append(mean)
            print(buf)
            buf = []
    except IndexError:
        buf.append(FIFO_list[6])
        # mean = np.mean(buf)
        # means.append(mean)
        print(buf)
        buf = []

[35689.99314742]
[51432.46669205001]
[28483.897209340004]
[19350.736843650004]
[4771.98040176]
[88440.67887408001]
[2325.54339576]
[4944.15109972]
[61559.794227750004]
[37362.73759211]
[1805.34]
[5405.52]
[['3kj3j3', '2023-01-02', 463, 'AUD', 168697, 364.36, 14055.314296100001]]

In [139]:
# Получили данные. Теперь можно найти среднее для каждой бумаги
ISIN_MEAN = pd.DataFrame()

ISIN_MEAN['ISIN'] = FIFO_table['ISIN'].unique()
ISIN_MEAN['MEAN_WITH_FIFO'] =

         isin
0        11dd
1      3kj3j3
2       5673d
3     dcw12l1
4   defdjwkf3
5    dwwdsxw1
6     f3bfic3
7      fdsfaw
8      fjdh22
9   fjwj4nfu4
10  fmdkwm1e1
11     gdhf72
12    ldoddd3

count       156.000000
mean      50296.272279
std       99451.686353
min          42.990000
25%        2739.361310
50%       20735.492369
75%       52418.815975
max      769887.736394
Name: UE_USD, dtype: float64