In [3]:
import pandas as pd
import numpy as np


# path to csv's files
path_to_history_prices = '..//csv_s//history_prices.csv'
path_to_investment_currencyhistory = '..//csv_s//investment_currencyhistory.csv'
path_to_securities = '..//csv_s//securities.csv'
path_to_сlients = '..//csv_s//history_prices.csv'

# read files
history_prices = pd.read_csv(path_to_history_prices)
investment_currencyhistory = pd.read_csv(path_to_investment_currencyhistory) 
securities = pd.read_csv(path_to_securities) 
сlients = pd.read_csv(path_to_сlients)

# drop column
history_prices = history_prices.drop(columns=['Unnamed: 0'])
investment_currencyhistory = investment_currencyhistory.drop(columns=['Unnamed: 0'])
securities = securities.drop(columns=['Unnamed: 0'])
securities['client_date'] = pd.to_datetime(securities['client_date'], format='%Y-%m-%d')

сlients = сlients.drop(columns=['Unnamed: 0'])

def informer(dataframe):
    
    print(f'INFORMATION FOR DATAFRAME:')
    print(dataframe.info())
    print('---------------')

    # Проверка на отсутствие каких-либо данных
    print('pd.ISNULL().SUM()')
    print(dataframe.isnull().sum())
    print('---------------')

    # Посчитаем количество уникальных гномов
    print(f'Количество уникальных значений для каждой колонки:\n'
          f'{dataframe.nunique()}')
    print('---------------')
    
# HISTORY_PRICES
print('HISTORY_PRICES')
print(informer(dataframe=history_prices))

# INVESTMENT_CURRENCYHISTORY
print('INVESTMENT_CURRENCYHOSTORY')
print(informer(dataframe=investment_currencyhistory))

# SECURITIES
print('SECURITIES')
print(informer(dataframe=securities))

# CLIENTS
print('CLIENTS')
print(informer(dataframe=сlients))

HISTORY_PRICES
INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------
None
INVESTMENT_CURRENCYHOSTORY
INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    53 non-null     int64
 1   currency       53 non-null     object
 2   direct_quote   53 non-null     float64
 3   reverse_quote  53 non-null     float64
 4   cross_course   53 non-null     float64
 5   quote_date     53 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
quote_date       0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      53
currency          3
direct_quote     53
reverse_quote    53
cross_course     53
quote_date       53
dtype: int64
---------------
None
SECURITIES
INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   operation_id          156 non-null    int64
 1   client_id             156 non-null    int64
 2   client_date           156 non-null    datetime64[ns, pytz.FixedOffset(180)]
 3   client_isin_paper     156 non-null    object
 4   client_n_papers       156 non-null    int64
 5   client_currency       156 non-null    object
 6   client_rialto         156 non-null    object
 7   client_closing_price  156 non-null    int64
dtypes: datetime64[ns, pytz.FixedOffset(180)](1), int64(4), object(3)
memory usage: 9.9+ KB
None
---------------
pd.ISNULL().SUM()
operation_id            0
client_id               0
client_date             0
client_isin_paper       0
client_n_papers         0
client_currency         0
client_rialto           0
client_closing_price    0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
operation_id            156
client_id                10
client_date             156
client_isin_paper        13
client_n_papers         130
client_currency           4
client_rialto             6
client_closing_price    156
dtype: int64
---------------
None
CLIENTS
INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------
None

In [17]:
currency_history_for_mean = investment_currencyhistory.copy()

currency_history_for_mean = currency_history_for_mean.drop(columns=['currency_id'])
currency_history_for_mean = currency_history_for_mean.sort_values(by=['currency', 'quote_date'])
currency_history_for_mean['quote_date'] = pd.to_datetime(currency_history_for_mean['quote_date'])
currency_history_for_mean['quote_date'] = currency_history_for_mean['quote_date'].dt.strftime('%Y-%m-%d')
currency_history_for_mean = currency_history_for_mean.reset_index()
currency_history_for_mean = currency_history_for_mean.rename(columns={"quote_date": "DATE"}, errors="raise")

currency_history_for_mean

    index currency  direct_quote  reverse_quote  cross_course        DATE
0       8  AUD/USD      6.825605       1.266740      1.353881  2023-01-07
1      48  AUD/USD     31.754864       1.433472      1.532539  2023-01-11
2      52  AUD/USD     10.124482       1.251789      1.392454  2023-01-13
3      51  AUD/USD     23.816452       1.322356      1.403152  2023-01-14
4      10  AUD/USD     48.628930       1.327655      1.272561  2023-01-15
5      44  AUD/USD     32.305794       1.460430      1.277857  2023-01-19
6      27  AUD/USD      4.594396       1.491398      1.405579  2023-01-22
7      22  AUD/USD     48.393093       1.512739      1.223029  2023-01-29
8      50  AUD/USD     27.300398       1.538065      1.524046  2023-02-05
9      42  AUD/USD     15.359939       1.283091      1.346227  2023-02-05
10     46  AUD/USD     21.520678       1.280914      1.272778  2023-02-06
11      3  AUD/USD     30.282850       1.249079      1.219998  2023-02-08
12     33  AUD/USD      7.313654       1.506702      1.427029  2023-02-23
13     41  AUD/USD     46.742020       1.448512      1.227630  2023-02-23
14     28  AUD/USD     14.690769       1.441109      1.331029  2023-02-26
15      1  AUD/USD      5.604485       1.276330      1.278901  2023-02-27
16     36  AUD/USD     13.692366       1.390291      1.264717  2023-03-01
17     47  AUD/USD     23.892336       1.285859      1.291384  2023-03-10
18     25  AUD/USD     18.428904       1.392556      1.342636  2023-03-21
19     15  EUR/USD     28.365665       1.311497      1.277304  2023-01-21
20     49  EUR/USD     42.526363       1.324253      1.291206  2023-01-31
21     13  EUR/USD      4.756792       1.426828      1.506021  2023-01-31
22     40  EUR/USD     39.148533       1.504871      1.405142  2023-02-03
23     16  EUR/USD      8.615866       1.394402      1.418013  2023-02-06
24      0  EUR/USD     16.280119       1.422668      1.510995  2023-02-09
25     19  EUR/USD     32.162796       1.267555      1.321163  2023-02-16
26      2  EUR/USD     25.455630       1.457471      1.491247  2023-02-23
27      6  EUR/USD     28.219723       1.210990      1.344795  2023-02-23
28     37  EUR/USD     50.328620       1.387326      1.286533  2023-02-23
29     29  EUR/USD     41.519917       1.290960      1.305815  2023-02-26
30     34  EUR/USD     32.601837       1.512537      1.351198  2023-03-04
31     31  EUR/USD     40.102640       1.310026      1.278085  2023-03-11
32     23  EUR/USD     49.206110       1.434974      1.513698  2023-03-15
33     11  EUR/USD      4.066001       1.515246      1.507824  2023-03-19
34     35  EUR/USD     38.735123       1.456225      1.481038  2023-03-26
35     21  RUB/USD     43.072990       1.457717      1.513116  2023-01-02
36     39  RUB/USD     40.569473       1.351581      1.376421  2023-01-13
37     43  RUB/USD     32.824600       1.291965      1.297019  2023-01-14
38     20  RUB/USD     32.950880       1.278955      1.219456  2023-01-14
39     18  RUB/USD      8.688482       1.380837      1.220646  2023-01-19
40     24  RUB/USD      1.358981       1.531492      1.261800  2023-01-21
41     45  RUB/USD      5.228767       1.289377      1.377655  2023-01-22
42      5  RUB/USD     50.095406       1.471334      1.415689  2023-01-30
43     17  RUB/USD     14.189708       1.452670      1.385022  2023-01-30
44     30  RUB/USD      2.332450       1.455481      1.509951  2023-02-01
45     32  RUB/USD     21.418304       1.240422      1.415448  2023-02-04
46      7  RUB/USD      3.633767       1.503523      1.304873  2023-02-17
47     12  RUB/USD      4.888742       1.290626      1.483176  2023-02-18
48      9  RUB/USD     30.677097       1.347600      1.289707  2023-02-23
49     38  RUB/USD     24.035933       1.234098      1.339697  2023-03-02
50     14  RUB/USD     23.302223       1.303289      1.511864  2023-03-12
51      4  RUB/USD     33.103638       1.536001      1.284194  2023-03-16
52     26  RUB/USD     37.252357       1.280945      1.362399  2023-03-16

In [16]:
securities = securities.sort_values(by=['client_isin_paper', 'client_date'])

# Для начала посчитаем среднюю цену акции в ее валюте
# Для этого возьмем цену обшую в день на момент закрытия и количество той или иной акции
# Затем поделим и найдем среднюю цену

for_mean_table = pd.DataFrame()
for_mean_table['ISIN'] = securities['client_isin_paper']
for_mean_table['DATE'] = securities['client_date'].dt.strftime('%Y-%m-%d')
for_mean_table['AMOUNT'] = securities['client_n_papers']
for_mean_table['CURRENCY'] = securities['client_currency']
for_mean_table['COST'] = securities['client_closing_price']
for_mean_table = for_mean_table.reset_index()
for_mean_table['MEAN_DAILY'] = (for_mean_table ['COST'] / for_mean_table ['AMOUNT']).round(2)

for_mean_table

     index     ISIN        DATE  AMOUNT CURRENCY    COST  MEAN_DAILY
0      152     11dd  2023-01-10     138      RUB  349530     2532.83
1       79     11dd  2023-01-10     393      USD  168172      427.92
2      143     11dd  2023-01-23     389      USD  289882      745.20
3       26     11dd  2023-02-22     355      EUR  455350     1282.68
4       98     11dd  2023-03-14     398      RUB  309201      776.89
..     ...      ...         ...     ...      ...     ...         ...
151    111  ldoddd3  2023-02-20      23      USD  293480    12760.00
152     64  ldoddd3  2023-02-23     141      EUR  136004      964.57
153     47  ldoddd3  2023-03-07      94      AUD  331776     3529.53
154    118  ldoddd3  2023-03-23     222      AUD  468802     2111.72
155     23  ldoddd3  2023-03-28     173      AUD   14737       85.18

[156 rows x 7 columns]

In [43]:
# Далее нам надо найти средневзвешенное среднее
# Для этого у нас имеется датафрейм с данными по ценам торгования валют 
# Нам надо также перевевсти все в какую-то одну валюту, пусть опять это будет доллар
# Нам надо найти как торгуется та или иная валюта в этот/ближайший день к закрытию рынка
# Перевести наше полученное уже среднее в эту валюту
# И найти новое среднее по получившимся данным


# Способ наверняка. Объединение таблиц по датам.

res_t = for_mean_table.merge(currency_history_for_mean, how='left', on='DATE')
res_t = res_t.dropna()
res_t = res_t.drop(columns=['index_x', 'index_y'])
res_t = res_t.sort_values(by=['CURRENCY', 'currency']).reset_index(inplace=False)
res_t = res_t.drop(columns=['index'])

In [44]:
res_t

,ISIN,DATE,AMOUNT,CURRENCY,COST,MEAN_DAILY,currency,direct_quote,reverse_quote,cross_course
0,dcw12l1,2023-03-10,260,AUD,226175,869.90,AUD/USD,23.892336,1.285859,1.291384
1,defdjwkf3,2023-01-19,88,AUD,490465,5573.47,AUD/USD,32.305794,1.460430,1.277857
2,defdjwkf3,2023-02-23,423,AUD,364425,861.52,AUD/USD,7.313654,1.506702,1.427029
3,defdjwkf3,2023-02-23,423,AUD,364425,861.52,AUD/USD,46.742020,1.448512,1.227630
4,dwwdsxw1,2023-02-06,223,AUD,67034,300.60,AUD/USD,21.520678,1.280914,1.272778
...,...,...,...,...,...,...,...,...,...,...
110,dcw12l1,2023-03-16,458,USD,150716,329.07,RUB/USD,37.252357,1.280945,1.362399
111,dwwdsxw1,2023-01-22,469,USD,438956,935.94,RUB/USD,5.228767,1.289377,1.377655
112,f3bfic3,2023-02-17,155,USD,328241,2117.68,RUB/USD,3.633767,1.503523,1.304873
113,f3bfic3,2023-02-23,335,USD,250478,747.70,RUB/USD,30.677097,1.347600,1.289707
114,gdhf72,2023-01-13,67,USD,156732,2339.28,RUB/USD,40.569473,1.351581,1.376421

In [119]:
cols_for_drop = ['DATE', 'AMOUNT', 'COST', 'reverse_quote', 'cross_course']
res_t_RUB = pd.DataFrame()
res_t_AUD = pd.DataFrame()
res_t_EUR = pd.DataFrame()
res_t_USD = pd.DataFrame()

"""
res_t_RUB = res_t.copy()
res_t_AUD = res_t.copy()
res_t_EUR = res_t.copy()
res_t_USD = res_t.copy()
"""

"""
res_t_RUB = res_t_RUB.drop(columns=cols_for_drop)
res_t_AUD = res_t_AUD.drop(columns=cols_for_drop)
res_t_EUR = res_t_EUR.drop(columns=cols_for_drop)
res_t_USD = res_t_USD.drop(columns=cols_for_drop)
"""

res_t_RUB['in_USD'] = res_t[(res_t['currency'] == 'RUB/USD')]['MEAN_DAILY'] / res_t['direct_quote']
res_t_AUD['in_USD'] = res_t[(res_t['currency'] == 'AUD/USD')]['MEAN_DAILY'] / res_t['direct_quote']
res_t_EUR['in_USD'] = res_t[(res_t['currency'] == 'EUR/USD')]['MEAN_DAILY'] / res_t['direct_quote']
res_t_USD['in_USD'] = res_t[(res_t['currency'] == 'USD/USD')]['MEAN_DAILY'] / 1

r_t = pd.DataFrame()

r_t['MEAN_DAILY_IN_USD'] = pd.concat([res_t_RUB['in_USD'], res_t_AUD['in_USD'],
                                        res_t_EUR['in_USD'], res_t_USD['in_USD']],
                                        ignore_index=True)
r_t['ISIN'] = res_t['ISIN']

del(res_t_RUB, res_t_AUD, res_t_EUR, res_t_USD)


r_t = r_t.dropna().reset_index(inplace=False).drop(columns=['index']).sort_values(by=['ISIN'])

res_list = r_t.values.tolist()

del(res_t)

In [120]:
means = []
buf = []
for i in range(len(res_list)):

    try: 
        if res_list[i][1] == res_list[i+1][1]:
            buf.append(res_list[i][0])
        else:
            buf.append(res_list[i][0])
            mean = np.mean(buf)
            means.append(mean)
            buf = []
    except IndexError:
        buf.append(res_list[i][0])
        mean = np.mean(buf)
        means.append(mean)
        buf = []

In [121]:
ISIN_LIST = r_t['ISIN'].unique()

del(r_t)

result_for_mean_with_weights = pd.DataFrame(data = {
    'ISIN' : ISIN_LIST,
    'MEAN' : means
})

In [122]:
result_for_mean_with_weights

         ISIN         MEAN
0      3kj3j3    10.379104
1       5673d   133.379707
2     dcw12l1    17.956372
3   defdjwkf3   334.780743
4    dwwdsxw1    81.807740
5     f3bfic3  1444.652668
6      fdsfaw   143.565367
7      fjdh22   653.326887
8   fjwj4nfu4     5.811142
9      gdhf72   220.595565
10    ldoddd3    78.068239

## Таким образом мы получили среднее значение для каждой бумаги

В ходе решения была найденна средняя цена для каждой бумаги в день закрытия рынка в валюте в которой она была продана/куплена. Затем было выполнено сопоставление по датам. Затем был выбран подходящий курс для перевода всех средних в одну валюту (были выбраны доллары, при жедании может быть любая другая валюта). Затем после переведения всего в одну валюту было вычисленно финальное сревдневзвешенное среднее. Несмотря на небольшьшие принебрежения, способ был выдержан. При необходимости можно масштабировать, усложнить и автоматизировать код.