In [1]:
import pandas as pd
import numpy as np

In [2]:
# path to csv's files
path_to_history_prices = '..//csv_s//history_prices.csv'
path_to_investment_currencyhistory = '..//csv_s//investment_currencyhistory.csv'
path_to_securities = '..//csv_s//securities.csv'
path_to_сlients = '..//csv_s//history_prices.csv'

# read files
history_prices = pd.read_csv(path_to_history_prices)
investment_currencyhistory = pd.read_csv(path_to_investment_currencyhistory) 
securities = pd.read_csv(path_to_securities) 
сlients = pd.read_csv(path_to_сlients)

# drop column
history_prices = history_prices.drop(columns=['Unnamed: 0'])
investment_currencyhistory = investment_currencyhistory.drop(columns=['Unnamed: 0'])
securities = securities.drop(columns=['Unnamed: 0'])
securities['client_date'] = pd.to_datetime(securities['client_date'], format='%Y-%m-%d')

сlients = сlients.drop(columns=['Unnamed: 0'])

In [3]:
def informer(dataframe):
    
    print(f'INFORMATION FOR DATAFRAME:')
    print(dataframe.info())
    print('---------------')

    # Проверка на отсутствие каких-либо данных
    print('pd.ISNULL().SUM()')
    print(dataframe.isnull().sum())
    print('---------------')

    # Посчитаем количество уникальных гномов
    print(f'Количество уникальных значений для каждой колонки:\n'
          f'{dataframe.nunique()}')
    print('---------------')

In [4]:
# HISTORY_PRICES
informer(dataframe=history_prices)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [5]:
# INVESTMENT_CURRENCYHISTORY
informer(dataframe=investment_currencyhistory)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    53 non-null     int64
 1   currency       53 non-null     object
 2   direct_quote   53 non-null     float64
 3   reverse_quote  53 non-null     float64
 4   cross_course   53 non-null     float64
 5   quote_date     53 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 2.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
quote_date       0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      53
currency          3
direct_quote     53
reverse_quote    53
cross_course     53
quote_date       53
dtype: int64
---------------

In [6]:
# SECURITIES
informer(dataframe=securities)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   operation_id          156 non-null    int64
 1   client_id             156 non-null    int64
 2   client_date           156 non-null    datetime64[ns, pytz.FixedOffset(180)]
 3   client_isin_paper     156 non-null    object
 4   client_n_papers       156 non-null    int64
 5   client_currency       156 non-null    object
 6   client_rialto         156 non-null    object
 7   client_closing_price  156 non-null    int64
dtypes: datetime64[ns, pytz.FixedOffset(180)](1), int64(4), object(3)
memory usage: 9.9+ KB
None
---------------
pd.ISNULL().SUM()
operation_id            0
client_id               0
client_date             0
client_isin_paper       0
client_n_papers         0
client_currency         0
client_rialto           0
client_closing_price    0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
operation_id            156
client_id                10
client_date             156
client_isin_paper        13
client_n_papers         130
client_currency           4
client_rialto             6
client_closing_price    156
dtype: int64
---------------

In [7]:
# CLIENTS
informer(dataframe=сlients)

INFORMATION FOR DATAFRAME:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   currency_id    75 non-null     int64
 1   currency       75 non-null     object
 2   direct_quote   75 non-null     float64
 3   reverse_quote  75 non-null     float64
 4   cross_course   75 non-null     float64
 5   date_          75 non-null     object
dtypes: float64(3), int64(1), object(2)
memory usage: 3.6+ KB
None
---------------
pd.ISNULL().SUM()
currency_id      0
currency         0
direct_quote     0
reverse_quote    0
cross_course     0
date_            0
dtype: int64
---------------
Количество уникальных значений для каждой колонки:
currency_id      75
currency          7
direct_quote     75
reverse_quote    75
cross_course     75
date_            45
dtype: int64
---------------

In [8]:
securities.head()

,operation_id,client_id,client_date,client_isin_paper,client_n_papers,client_currency,client_rialto,client_closing_price
0,455,3,2023-01-17 05:59:40.002306+03:00,fdsfaw,46,RUB,LON,49426
1,553,5,2023-02-25 17:00:06.797176+03:00,fjwj4nfu4,10,AUD,GON,417761
2,5807,4,2023-01-21 12:55:53.499898+03:00,gdhf72,390,AUD,LON,203273
3,3855,6,2023-03-16 12:04:49.583242+03:00,dcw12l1,487,RUB,BER,186051
4,1358,1,2023-03-10 08:15:16.450479+03:00,dcw12l1,72,RUB,NYC,407353

In [9]:
currensy_history_for_mean = investment_currencyhistory.copy()

currensy_history_for_mean = currensy_history_for_mean.drop(columns=['currency_id'])
currensy_history_for_mean = currensy_history_for_mean.sort_values(by=['currency', 'quote_date'])


            
currensy_history_for_mean.head(50)

,currency,direct_quote,reverse_quote,cross_course,quote_date
8,AUD/USD,6.825605,1.266740,1.353881,2023-01-07 22:23:54.298263+03:00
48,AUD/USD,31.754864,1.433472,1.532539,2023-01-11 19:19:36.512036+03:00
52,AUD/USD,10.124482,1.251789,1.392454,2023-01-13 06:52:35.450810+03:00
51,AUD/USD,23.816452,1.322356,1.403152,2023-01-14 23:57:08.304318+03:00
10,AUD/USD,48.628930,1.327655,1.272561,2023-01-15 03:39:55.587255+03:00
44,AUD/USD,32.305794,1.460430,1.277857,2023-01-19 07:42:08.320586+03:00
27,AUD/USD,4.594396,1.491398,1.405579,2023-01-22 03:41:03.547779+03:00
22,AUD/USD,48.393093,1.512739,1.223029,2023-01-29 19:51:56.702654+03:00
50,AUD/USD,27.300398,1.538065,1.524046,2023-02-05 04:19:04.417176+03:00
42,AUD/USD,15.359939,1.283091,1.346227,2023-02-05 12:34:46.046819+03:00
46,AUD/USD,21.520678,1.280914,1.272778,2023-02-06 03:22:53.552371+03:00
3,AUD/USD,30.282850,1.249079,1.219998,2023-02-08 15:00:20.269062+03:00
33,AUD/USD,7.313654,1.506702,1.427029,2023-02-23 01:00:38.065420+03:00
41,AUD/USD,46.742020,1.448512,1.227630,2023-02-23 11:59:35.005426+03:00
28,AUD/USD,14.690769,1.441109,1.331029,2023-02-26 20:44:37.280160+03:00
1,AUD/USD,5.604485,1.276330,1.278901,2023-02-27 08:24:38.341130+03:00
36,AUD/USD,13.692366,1.390291,1.264717,2023-03-01 10:46:23.376769+03:00
47,AUD/USD,23.892336,1.285859,1.291384,2023-03-10 14:41:37.817399+03:00
25,AUD/USD,18.428904,1.392556,1.342636,2023-03-21 20:23:19.073758+03:00
15,EUR/USD,28.365665,1.311497,1.277304,2023-01-21 17:35:38.759232+03:00
49,EUR/USD,42.526363,1.324253,1.291206,2023-01-31 06:14:03.170409+03:00
13,EUR/USD,4.756792,1.426828,1.506021,2023-01-31 08:23:55.161086+03:00
40,EUR/USD,39.148533,1.504871,1.405142,2023-02-03 09:36:03.071679+03:00
16,EUR/USD,8.615866,1.394402,1.418013,2023-02-06 18:43:56.458655+03:00
0,EUR/USD,16.280119,1.422668,1.510995,2023-02-09 12:09:48.234453+03:00
19,EUR/USD,32.162796,1.267555,1.321163,2023-02-16 02:32:37.478572+03:00
2,EUR/USD,25.455630,1.457471,1.491247,2023-02-23 12:52:13.436271+03:00
6,EUR/USD,28.219723,1.210990,1.344795,2023-02-23 14:32:55.607510+03:00
37,EUR/USD,50.328620,1.387326,1.286533,2023-02-23 17:19:46.934440+03:00
29,EUR/USD,41.519917,1.290960,1.305815,2023-02-26 06:53:29.828466+03:00
34,EUR/USD,32.601837,1.512537,1.351198,2023-03-04 06:21:41.478688+03:00
31,EUR/USD,40.102640,1.310026,1.278085,2023-03-11 07:39:25.336877+03:00
23,EUR/USD,49.206110,1.434974,1.513698,2023-03-15 19:05:11.268566+03:00
11,EUR/USD,4.066001,1.515246,1.507824,2023-03-19 17:57:17.167084+03:00
35,EUR/USD,38.735123,1.456225,1.481038,2023-03-26 00:47:25.696370+03:00
21,RUB/USD,43.072990,1.457717,1.513116,2023-01-02 06:08:01.133101+03:00
39,RUB/USD,40.569473,1.351581,1.376421,2023-01-13 12:26:27.298733+03:00
43,RUB/USD,32.824600,1.291965,1.297019,2023-01-14 04:42:16.156460+03:00
20,RUB/USD,32.950880,1.278955,1.219456,2023-01-14 18:07:55.252438+03:00
18,RUB/USD,8.688482,1.380837,1.220646,2023-01-19 00:00:31.202630+03:00
24,RUB/USD,1.358981,1.531492,1.261800,2023-01-21 16:01:45.947593+03:00
45,RUB/USD,5.228767,1.289377,1.377655,2023-01-22 04:47:39.495355+03:00
5,RUB/USD,50.095406,1.471334,1.415689,2023-01-30 17:26:29.447181+03:00
17,RUB/USD,14.189708,1.452670,1.385022,2023-01-30 17:52:41.656336+03:00
30,RUB/USD,2.332450,1.455481,1.509951,2023-02-01 08:37:30.687216+03:00
32,RUB/USD,21.418304,1.240422,1.415448,2023-02-04 04:36:26.176393+03:00
7,RUB/USD,3.633767,1.503523,1.304873,2023-02-17 20:40:25.138740+03:00
12,RUB/USD,4.888742,1.290626,1.483176,2023-02-18 21:20:39.443642+03:00
9,RUB/USD,30.677097,1.347600,1.289707,2023-02-23 15:52:20.298087+03:00
38,RUB/USD,24.035933,1.234098,1.339697,2023-03-02 16:42:16.812413+03:00

In [10]:
"""
    3. Рассчитать среднюю цену покупки для каждой бумаги.
        a. методом FIFO
        b. метод средневзвешенной стоимости
        
        
Для метода FIFO нам надо знать номер бумаги (ISIN), дату ее последней цены на рынке и количество.

Метод FIFO заключается в "first in first out"



Метод средневзвешенной стоимости (Weighted avеrage cost method) — порядок, при котором стоимость
каждого изделия определяется по средневзвешенной стоимости аналогичных изделий,
имеющихся в наличии на начало периода и приобретенных или произведенных в течение периода.
Средневзвешенная стоимость может рассчитываться на периодической основе или, 
в зависимости от конкретных условий, по получении каждой дополнительной поставки.
""";


securities = securities.sort_values(by=['client_isin_paper', 'client_date'])

# Для начала посчитаем методом FIFO
FIFO_table = pd.DataFrame()
FIFO_table['ISIN'] = securities['client_isin_paper']
FIFO_table['DATE'] = securities['client_date'].dt.strftime('%Y-%m-%d')
FIFO_table['AMOUNT'] = securities['client_n_papers']
FIFO_table['CURRENCY'] = securities['client_currency']
FIFO_table['COST'] = securities['client_closing_price']

In [11]:
FIFO_table

        ISIN        DATE  AMOUNT CURRENCY    COST
152     11dd  2023-01-10     138      RUB  349530
79      11dd  2023-01-10     393      USD  168172
143     11dd  2023-01-23     389      USD  289882
26      11dd  2023-02-22     355      EUR  455350
98      11dd  2023-03-14     398      RUB  309201
..       ...         ...     ...      ...     ...
111  ldoddd3  2023-02-20      23      USD  293480
64   ldoddd3  2023-02-23     141      EUR  136004
47   ldoddd3  2023-03-07      94      AUD  331776
118  ldoddd3  2023-03-23     222      AUD  468802
23   ldoddd3  2023-03-28     173      AUD   14737

[156 rows x 5 columns]

In [12]:
currency_info = pd.DataFrame()
currency_info['CURRENCY'] =  investment_currencyhistory['currency']

investment_currencyhistory['quote_date'] = pd.to_datetime(investment_currencyhistory['quote_date'],
                                                          format='%Y-%m-%d')
currency_info['DATE'] = investment_currencyhistory['quote_date'].dt.strftime('%Y-%m-%d')
currency_info['inUSD_DIR'] = investment_currencyhistory['direct_quote']
currency_info = currency_info.sort_values(by=['CURRENCY', 'DATE']).reset_index(drop=True, inplace=False)
# Для удобства переведем все в 1 валюту. Пусть это будут доллары

In [13]:
currency_info

   CURRENCY        DATE  inUSD_DIR
0   AUD/USD  2023-01-07   6.825605
1   AUD/USD  2023-01-11  31.754864
2   AUD/USD  2023-01-13  10.124482
3   AUD/USD  2023-01-14  23.816452
4   AUD/USD  2023-01-15  48.628930
5   AUD/USD  2023-01-19  32.305794
6   AUD/USD  2023-01-22   4.594396
7   AUD/USD  2023-01-29  48.393093
8   AUD/USD  2023-02-05  15.359939
9   AUD/USD  2023-02-05  27.300398
10  AUD/USD  2023-02-06  21.520678
11  AUD/USD  2023-02-08  30.282850
12  AUD/USD  2023-02-23   7.313654
13  AUD/USD  2023-02-23  46.742020
14  AUD/USD  2023-02-26  14.690769
15  AUD/USD  2023-02-27   5.604485
16  AUD/USD  2023-03-01  13.692366
17  AUD/USD  2023-03-10  23.892336
18  AUD/USD  2023-03-21  18.428904
19  EUR/USD  2023-01-21  28.365665
20  EUR/USD  2023-01-31   4.756792
21  EUR/USD  2023-01-31  42.526363
22  EUR/USD  2023-02-03  39.148533
23  EUR/USD  2023-02-06   8.615866
24  EUR/USD  2023-02-09  16.280119
25  EUR/USD  2023-02-16  32.162796
26  EUR/USD  2023-02-23  25.455630
27  EUR/USD  2023-02-23  28.219723
28  EUR/USD  2023-02-23  50.328620
29  EUR/USD  2023-02-26  41.519917
30  EUR/USD  2023-03-04  32.601837
31  EUR/USD  2023-03-11  40.102640
32  EUR/USD  2023-03-15  49.206110
33  EUR/USD  2023-03-19   4.066001
34  EUR/USD  2023-03-26  38.735123
35  RUB/USD  2023-01-02  43.072990
36  RUB/USD  2023-01-13  40.569473
37  RUB/USD  2023-01-14  32.950880
38  RUB/USD  2023-01-14  32.824600
39  RUB/USD  2023-01-19   8.688482
40  RUB/USD  2023-01-21   1.358981
41  RUB/USD  2023-01-22   5.228767
42  RUB/USD  2023-01-30  50.095406
43  RUB/USD  2023-01-30  14.189708
44  RUB/USD  2023-02-01   2.332450
45  RUB/USD  2023-02-04  21.418304
46  RUB/USD  2023-02-17   3.633767
47  RUB/USD  2023-02-18   4.888742
48  RUB/USD  2023-02-23  30.677097
49  RUB/USD  2023-03-02  24.035933
50  RUB/USD  2023-03-12  23.302223
51  RUB/USD  2023-03-16  33.103638
52  RUB/USD  2023-03-16  37.252357

In [14]:
# Поработаем с FIFO_TABLE
# ВЫЧИСЛИМ средневзвешенное значение акции в валюте той таблицы
FIFO_table['MEAN_DAILY'] = (FIFO_table['COST'] / FIFO_table['AMOUNT']).round(2)
FIFO_table = FIFO_table.reset_index(drop=True, inplace=False)
FIFO_table

        ISIN        DATE  AMOUNT CURRENCY    COST  MEAN_DAILY
0       11dd  2023-01-10     138      RUB  349530     2532.83
1       11dd  2023-01-10     393      USD  168172      427.92
2       11dd  2023-01-23     389      USD  289882      745.20
3       11dd  2023-02-22     355      EUR  455350     1282.68
4       11dd  2023-03-14     398      RUB  309201      776.89
..       ...         ...     ...      ...     ...         ...
151  ldoddd3  2023-02-20      23      USD  293480    12760.00
152  ldoddd3  2023-02-23     141      EUR  136004      964.57
153  ldoddd3  2023-03-07      94      AUD  331776     3529.53
154  ldoddd3  2023-03-23     222      AUD  468802     2111.72
155  ldoddd3  2023-03-28     173      AUD   14737       85.18

[156 rows x 6 columns]

In [15]:
# Теперь нам надо получить ближайшую дату к данной и взять отуда значене валюты
# Если значение в долларах, то переводить не надо.
# Если значение в другой валюте, то переводим в долла  
FIFO_LIST = FIFO_table.values.tolist()

In [16]:
FIFO_LIST[:10]

[['11dd', '2023-01-10', 138, 'RUB', 349530, 2532.83],
 ['11dd', '2023-01-10', 393, 'USD', 168172, 427.92],
 ['11dd', '2023-01-23', 389, 'USD', 289882, 745.2],
 ['11dd', '2023-02-22', 355, 'EUR', 455350, 1282.68],
 ['11dd', '2023-03-14', 398, 'RUB', 309201, 776.89],
 ['11dd', '2023-03-18', 127, 'USD', 397209, 3127.63],
 ['3kj3j3', '2023-01-02', 463, 'AUD', 168697, 364.36],
 ['3kj3j3', '2023-01-10', 136, 'RUB', 433532, 3187.74],
 ['3kj3j3', '2023-01-17', 418, 'RUB', 287166, 687.0],
 ['3kj3j3', '2023-01-31', 97, 'AUD', 390610, 4026.91]]

In [17]:
CURRENCY_LIST = currency_info.values.tolist()

In [18]:
CURRENCY_LIST[:10]

[['AUD/USD', '2023-01-07', 6.825605],
 ['AUD/USD', '2023-01-11', 31.754864],
 ['AUD/USD', '2023-01-13', 10.124482],
 ['AUD/USD', '2023-01-14', 23.816452],
 ['AUD/USD', '2023-01-15', 48.62893],
 ['AUD/USD', '2023-01-19', 32.305794],
 ['AUD/USD', '2023-01-22', 4.5943956],
 ['AUD/USD', '2023-01-29', 48.393093],
 ['AUD/USD', '2023-02-05', 15.359939],
 ['AUD/USD', '2023-02-05', 27.300398]]

In [19]:
list_cor = []

# Входим в цикл, где у нас идут бумаги
for i in range(len(FIFO_LIST)):
    
    if FIFO_LIST[i][3] == 'USD':
        list_cor.append(1)
    if FIFO_LIST[i][3] == 'AUD':
        
        dat = FIFO_LIST[i][1]
        
        for j in range(len(CURRENCY_LIST)):
            
            if dat in

SyntaxError: invalid syntax (4178557464.py, line 14)